<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci, <%= @order.user.email %></h1>
    <p>
        Votre commande n° <%= @order.id %>
    </p>
   
    <%@order.items.each_with_index  do |item,i| %>

        <% if item.item_image.attached? %>
    <%= email_image_tag(item.item_image) %>
    <% else %>
    <%= email_image_tag(item.image_url )%>
    <% end %>
    </div>
    <% end %>
	<%=   @order.items.each_with_inde do |item,i| %>
	<%= image_tag(attachments["img_#{i}"].url) %>
	<%end%>
  </body>
</html>