<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci, <%= @order.user.email %></h1>
    <p>
        Votre commande n° <%= @order.id %>
    </p>
    <img src="https://www.google.com/logos/doodles/2021/uefa-euro-2020-6753651837109267-s.png">
    <%@order.items.each do |item| %>
      <%= email_image_tag(item.item_image)  %>
      <%= email_image_tag(item.item_url) %>
       <%= image_tag item.item_image , style:"width: 25%"%>
      <%= image_tag item.item_url , style:"width: 25%" %>
	  <%= image_tag url_for(order.item.image_url) %>
	   <%= image_tag url_for(order.item.image_url) %>
    <% end %>

  </body>
</html>