<div class='container'>  
  <%= form_with model: [:admin, @item] do |form| %>
    <div class="form-group">
      <%= form.text_field :title, class:"form-control", placeHolder:'Titre' %>
    </div>
    <br>
    <div class="form-group">
      <%= form.text_area :description, class:"form-control", placeHolder:'Description'%>
    </div>
    <br>
    <div class="form-group">  
      <%= form.number_field :price, :step => 0.01,min:1, class:"form-control", placeHolder:'Prix €' %>
    </div>  
    <br>
	  <div class="form-group">  
      <%= form.file_field :item_image, class:"form-control", placeHolder:'Image' %>
    </div>            
    <br>
    <div class="form-group d-flex flex-row-reverse ">  
      <%= form.submit "Créer", class:"btn btn__primary" %>
    </div> 
    <div class="form-group d-flex flex-row-reverse mt-2">
      <%=render 'admin/admin/back_btn'%>
    <div>
  <% end %>

</div>