<h4 id='list-items'>Liste des produits (<%=@items.count%>)</h4>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Prix</th>
        <th>date de création</th>
        <th>Voir</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
        <%@items.each do |item|%>
          <tr id='item<%=item.id%>'>
            <td><%=item.id%></td>
            <td><%=item.title%></td>
            <td><%=item.price %> € </td>
            <td><%=item.created_at%></td>
            <td><a href=<%=item_path(item.id)%> class='btn btn-outline-info btn-sm' %>Voir</a></td>
            <td><a href=<%=admin_item_path(item.id)%> data-method='delete' data-confirm='Valider la suppression ?' data-remote='true' class='btn btn-outline-danger btn-sm' %>Supprimer</a></td>
          </tr>  
        <%end%>
    </tbody>
  </table>
</div>