<div>
  <p>Date <%=@order.created_at.strftime('%d/%m/%Y')%></p>
</div>

<hr class='my-2'>

<div id='card-items'>
  <%@order.items.each do |item|%>

    <div class='flex-row d-flex justify-content-between align-items-center' >

      <div class='flex-row d-flex align-items-center'>
	  <% if item.item_image.attached? %> 
        <%= image_tag item.item_image,height:50, alt: "item_image", class:'item-img me-3' %>
		<% else %>
        <%= image_tag item.image_url,height:50, alt: "avatar" , class: 'item-img me-3'%>
		 <% end %>
        <h5><%= item.title%></h5>
      </div>  

      <div class='flex-row d-flex align-items-center'>
        <h5><small class="text-muted">1 x</small> <%= item.price%> €</h5>
      </div> 
      
    </div>
    <hr class='my-2' id='separator-items'> 
  <%end%>

</div>
