<h4 id='list-users'>Liste des utilisateurs (<%=@users.count%>)</h4>
<div class="table-responsive ">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Panier ID</th>
        <th>Nombre de commandes</th>
        <th>Inscription</th>
        <th>Admin</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
        <%@users.sort.each do |user|%>
          <tr id='user<%=user.id%>'>
            <td><%=user.id%></td>
            <td nowrap><%=user.email%></td>
            <td nowrap><%=user.last_name%></td>
            <td nowrap><%=user.first_name %></td>
            <td><%=user.cart.id%></td>
            <td><%=user.orders.count%></td>
            <td><%=user.created_at.strftime('%d/%m/%Y')%></td>
            <td nowrap>
              <%= form_with model: [:admin, user], method: :put,local: false, remote: true, class:'text-center' do |form| %>
                <%= form.check_box :admin %>
                <%= form.submit "Valider",class:'btn btn__secondary btn-sm' %>
              <% end %>
            <td><a href=<%=admin_user_path(user.id)%> data-method='delete' data-confirm='Valider la suppression ?' data-remote='true' class='btn btn__secondary btn-sm' %>Supprimer</a></td>
          </tr>  
        <%end%>
    </tbody>
  </table>
</div>
<div class="mt-2 mb-5">
  <%=render 'admin/admin/back_btn'%>
</div>